body {
  margin: 0 auto;
  overflow: hidden;
}
.slider {
  width: 500px;
  height: auto;
  position: relative;
  margin: 0 auto;
}
.slider_wrapper {
  position: relative;
  width: 500px;
  height: auto;
  overflow: hidden;
}

.slider_items {
  display: flex;
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  will-change: transform;
}

img {
  width: 500px;
  height: 100%;
  max-height: 100vh;
}
.button {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 50%;
  width: 100%;
}
.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
  background: transparent no-repeat center center;
}

.btn_prev {
  left: 0;
}

.btn_next {
  right: 0;
}

.btn_prev {
  background-image: url('img/arrow_left.png');
}
.btn_next {
  background-image: url('img/arrow_right.png');
}
input {
  display: none;
}
.dots {
  display: flex;
  justify-content: center;
}
label {
  display: inline-block;
  margin: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}
label:hover {
  background-color: blue;
}

#first:checked ~ [for='first'] {
  background-color: blue;
}

#second:checked ~ [for='second'] {
  background-color: blue;
}

#third:checked ~ [for='third'] {
  background-color: blue;
}

#fourth:checked ~ [for='fourth'] {
  background-color: blue;
}
