body {
  background-color: #000000;
}
p {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}
h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  color: #ffffff;
}
h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  line-height: 62px;
  color: #ffffff;
}
.menu {
  position: relative;
  z-index: 5;
}
.cookie {
  background: #212834;
  height: 93px;
  width: 100vw;
  position: fixed;
  bottom: 0%;
  z-index: 999;
}
.cookie_button {
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #ffffff;
  border-radius: 6px;
  margin-right: 100px;
  padding: 10px;
}
.cookie_text {
  font-size: 14px;
  margin: 0 0 0 100px;
  line-height: 19px;
}
.loginText {
  margin: 0 0 0 1em;
}

.logo {
  margin-right: 16%;
}
.blur {
  position: absolute;
  right: 10%;
  bottom: 22%;
  width: 662.63px;
  height: 783.03px;
  background: rgba(250, 0, 255, 0.2);
  filter: blur(125px);
  transform: rotate(-105.26deg);
  z-index: 1;
}
.phone {
  top: 0;
  right: 0;
  position: absolute;
}
.iphone {
  position: relative;
  z-index: 5;
}
.small_blur {
  width: 125px;
  height: 125px;
  background: rgba(96, 92, 234, 0.5);
  filter: blur(50px);
}
.line {
  background-color: white;
  width: 139.43px;
  height: 0px;
  border: 4px solid #ffffff;
  transform: rotate(120.61deg);
}
.header_text {
  margin: 12% 0 0 0;
}
.header_title {
  z-index: 5;
}
.header_phone {
  margin: 15% 0 13% 0;
}
.download_text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 70px;
}
.rectangle {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 21.3671px;
}
@media (max-width: 780px) {
  .line {
    display: none;
  }
}
@media (max-width: 580px) {
  h1 {
    font-size: 35px;
    line-height: 40px;
  }
  p {
    font-size: 16px;
    line-height: 22px;
  }
  .header_text {
    position: absolute;
    width: 70%;
    top: 20%;
  }
  .header_title {
    width: 70%;
  }
  .phone {
    width: auto;
    max-width: inherit;
    padding-right: 0;
    margin-top: 2%;
  }

  .download_text {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  .logo,
  .login {
    width: auto;
  }
  .menu {
    justify-content: space-between;
  }
  .store_btn {
    flex-direction: column;
    height: 180px;
    justify-content: space-evenly;
  }
}
